{% extends '@BNCSitetheoryProfileBundle/Profile-Candidate.html.twig' %}

{% block pageTitle %}
    <h1 class="pageTitle">
        <span class="starRight">Candidates</span>
    </h1>
{% endblock pageTitle %}