
/* LANDING PAGE */

#shellContentBackground {
    background: none;
}
.landingBackground {
    background: #FFF;
}
.landingStream h3 {
    padding-bottom: 14px;
    letter-spacing: 1px;
    border-bottom: 7px solid #373737;
}
.landingStream .pullout {
    margin: 45px 0;
    font-size: 38px;
    line-height: 1;
}
.landingStream p {
    font-size: 18px;
}

/* Header */

.headerImageContainer {
    height: 850px;
}
.landingStream #header {
    min-height: 700px;
    background: none;
}
.landingStream .headerImageFixed {
    opacity: .8;
}
.landingHeader {
    padding: 70px 0;
}
#slogan {
    font-size: 38px;
    text-transform: uppercase;
    color: #FFF;
    line-height: 1;
}
@media (max-width:959px) {
    .landingHeader {
        padding: 30px 0;
    }
    #slogan {
        font-size: 30px;
    }
}



/* Land page sign up area */


#homeJoin {
    padding: 40px;
    text-align: center;
    background: rgba(195,195,195,.88);
}
#homeJoin p {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}
#homeJoinForm {
    margin: 0 auto;
    max-width: 290px;
    text-align: left;
}

/* Home page sign up form styling is in site.css to make it easier to compare site wide styling with specific form styling */

@media (max-width:959px) {
    #homeJoin {
        padding: 26px;
        margin-top: 30px;
    }
    #homeJoin p {
        margin-bottom: 26px;
        font-size: 16px;
        line-height: 1.3;
    }
    #homeJoin .joinForm .btn {
        padding: 14px;
    }
}
@media (max-width:767px) {
    #homeJoin {
        padding: 18px;
        margin-top: 20px;
    }
    #homeJoin p {
        margin-bottom: 20px;
    }
}
@media (max-width:480px) {
    #homeJoin p {
        font-size: 15px;
    }
}


/* Landing page content area */


.homeActionBtns {
    margin: 22px 0 7px;
    text-align: center;
}
.homeActionBtns .btn {
    display: inline-block;
    margin: 0 3px 15px;
}


/* Landing content left */

#landingContentLeft p {
    line-height: 1.8;
    font-size: 18px;
}
#homeNews {
    margin-bottom: 40px;
    padding: 12px;
    background: #3C3C3C;
}
#homeNews #newsLabelArea {
    float: left;
    margin-right: 18px;
}
#homeNews .newsLabel {
    padding: 6px;
    font-size: 17px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #FFF;
    line-height: 1;
}
#homeNews .date {
    margin: 6px 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #979797;
    letter-spacing: 1px;
}
#homeNews p {
    margin: 4px 0;
    font-size: 16px;
    color: #FFF;
    line-height: 1.25;
}
#homeNewsLink #homeNews {
    transition: all .2s ease-out;
}
#homeNewsLink:hover #homeNews {
    background: #000;
}
#introVideo {
    margin-bottom: 55px;
}
.homeImageLink {
    margin-top: 30px;
}
.homeImageLink a {
    display: block;
}
.homeImageLink a:hover .imageWrapper {
    opacity: .7;
}
.homeImageLink img {
    display: block;
}
#landingContentLeft .homeImageLink p {
    margin: 0;
    font-size: 14px;
}

/* Landing content right */

#homeActionArea {
    padding: 30px 8%;
    background: #F4F4F4;
}
#homeActionArea p {
    font-size: 17px;
}
#homeActionArea ul {
    margin-top: 22px;
}
#homeActionArea ul li {
    position: relative;
    padding: 0 0 6px 18px;
    font-weight: bold;
}
#homeActionArea ul li:last-child {
    padding-bottom: 0;
}
#homeActionArea ul li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #222;
}
#homeSocial {
    margin-top: 40px;
}
.landingStream #homeSocial h3 {
    color: #3b94d9;
}
@media (max-width:959px) {
    #landingContentRight {
        margin-top: 35px;
    }
}


/* CANDIDATES SECTION */


#homeCandidates img {
    display: block;
}
#homeCandidates .borderThick {
    padding-top: 18px;
    margin-top: 6px;
}

/* Intro paragraph */

#homeCandidates h1 {
    margin: 0;
    padding: 120px 0;
    color: #FFF;
    background: rgba(51,51,51,.3);
}
#homeCandidates p.intro {
    margin: 20px auto 30px;
    max-width: 860px;
    padding: 0;
}
#homeCandidates p.intro a {
    color: #333;
    text-decoration: underline;
}
#homeCandidates p.intro a:hover {
    color: #7932AC;
    text-decoration: none;
}
#homeCandidates p.pullout {
    margin: 50px auto 80px;
    padding: 20px;
    max-width: 860px;
    font-size: 26px;
}

/* Candidate Grid */

#homeCandidates .candidateGrid {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1150px;
}
#homeCandidates .candidateGrid .gridAdjust {
    margin: 0 -1.25% 0 -.25%;
}
.candidateColumn {
    float: left;
    width: 25%;
    transition: all 400ms ease-out 50ms;
}
.candidateContainer {
    margin: 35px 3px 15px 3px;
}
.candidateContainer .borderDashed {
    margin-top: 18px;
    padding: 24px;
    background-size: 5px;
}
/* text overlay */
.candidateInfo {
    transition: all .2s ease-out;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 6%;
    padding: 0 12%;
    width: 100%;
    text-align: center;
}
.candidateInfo p {
    margin: 0 0 6px 0;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-weight: bold;
    color: #FFF;
}
.candidateInfo .name {
    font-size: 16px;
    letter-spacing: .02em;
}
.candidateInfo .title {
    font-size: 10px;
}
/* image */
.candidateImage {
    transition: all .2s ease-out;
}
.candidateImage img {
    width: 100%;
}

/* district info below photo */

.candidateColumn .borderDashed {
    margin-bottom: 30px;
    padding: 9px 0;
    background-position: left bottom;
}
.candidateDistrict p {
    padding: 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .04em;
    color: #2C2C2C;
}

/* hover reveals bio */
.candidateImageCover {
    transition: all .2s ease-out;
    opacity: 0;
}
.candidateContainer:hover .candidateImageCover {
    opacity: .9;
    background: rgba(20,20,20,.96);
}
.candidateContainer:hover .candidateInfo {
    transform: translateY(50%);
    bottom: 50%;
}
.candidateBio {
    display: none;
    transition: all .4s ease-out .2s;
    margin-top: 20px;
    opacity: 0;
    color: #CCC;
}
.candidateContainer:hover .candidateBio {
    display: block;
    opacity: 1;
}

@media (max-width: 959px) {
    /* Footer image shows behind candidate title */
    .footerImageFixed {
        display: block;
    }
    .candidateColumn {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .candidateColumn {
        float: none;
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width:1100px) {
    .candidateInfo .name {
        font-size: 11px;
    }
    .candidateInfo .title {
        font-size: 8px;
    }
    .candidateDistrict p {
        font-size: 15px;
    }
    .candidateBio {
        font-size: 13px;
    }
}

/* Temporary nominate area to fill empty candidate slot */

.tempCandidateAsk .candidateImage {
    background: #43717B;
}
.tempCandidateAsk .candidateImage img {
    transition: all .2s ease-out;
    opacity: .34;
}
.tempCandidateAsk a:hover .candidateImage img {
    opacity: .1;
}
.tempCandidateAsk .candidateInfo,
.tempCandidateAsk:hover .candidateInfo {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    bottom: inherit;
}
.tempCandidateAsk .candidateInfo p {
    transition: all .2s ease-out;
    margin: 0 0 4px 0;
    padding: 0 22%;
    text-transform: none;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 300;
}
/*
.tempCandidateAsk a:hover .candidateInfo .adText {
    transform: scale(0);
    -webkit-transform: scale(0);
}*/
.tempCandidateAsk .candidateInfo .title {
    transition: all .2s ease-out;
    margin: 50px auto 0 auto;
    display: table;
}
.tempCandidateAsk .candidateInfo .title p {
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}
/*
.tempCandidateAsk a:hover .candidateInfo .title {
    transform: translateY(-60px);
}*/
.tempCandidateAsk .starRight,
.tempCandidateAsk .starLeft {
    background-image: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/starWhite.png');
}
.tempCandidateAsk .starLeft {
    background-position: left 3px;
}
.tempCandidateAsk .starRight {
    background-position: right 3px;
}
.tempCandidateAsk .animatedUnderline {
    transform: scaleX(0);
    margin-top: 4px;
    border-bottom: 2px solid #FFF;
}
.tempCandidateAsk a:hover .animatedUnderline {
    transition: all .2s ease-out;
    transform: scaleX(1);
}
@media (max-width:1100px) {
    .tempCandidateAsk .candidateInfo p {
        font-size: 14px;
    }
    .tempCandidateAsk .candidateInfo .title p {
        font-size: 10px;
    }
}
