/* LOAD FONTS */
@import '//fonts.googleapis.com/css?family=Alfa+Slab+One|Roboto+Condensed:700|Roboto:300,400,700';


/* BODY */

body {
    position: relative;
    background: #111;
}
body, p {
    font-size: 15px;
    color: #111;
}

/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #5b919f;
}
a:hover {
    color: #222;
}
.btn,
.btn:link,
.btn:visited,
.btn:active {
    padding: 12px 28px;
    font-size: 16px;
    color: #FFF;
    letter-spacing: .04em;
    text-transform: uppercase;
    background-color: #5B919F;
}
.btn:hover {
    background-color: #222;
}
.btn.btnYellow {
    color: #111;
    background: #FFFE00;
}
.btn.btnYellow:hover {
    color: #FFF;
    background: #111;
}
.btn[disabled="disabled"],
.btn[disabled="disabled"]:hover {
    color: #999;
    background-color: #5B919F;
}
.btn.btnYellow[disabled="disabled"],
.btn.btnYellow[disabled="disabled"]:hover {
    color: #999;
    background-color: #FFFE00;
}

/* TITLES & HEADERS */

h1 {
    color: #141414;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .02em;
}
h2 {
    margin-top: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #2B5058;
    font-size: 26px;
    font-weight: bold;
}
h3 {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #222;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .25em;
}
@media (max-width:768px) {
    h1 {
        font-size: 30px;
    }
}

/* STANDARD TEXT STYLES */

.pullout {
    color: #2E2E2E;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.3;
}
.pullout:first-child {
    margin-top: -5px;
}
.bodyLarge,
.bodyLarge p {
    font-size: 26px;
    font-weight: 300;
}

@media (max-width:959px) {
    .bodyLarge {
        font-size: 22px;
    }
}

.hint {
    color: #666;
    font-size: 13px;
}


/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

.fontPrimary,
.fontPrimary p,
h2,
h3,
.btn {
    font-family: 'Roboto Condensed';
}
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
p,
h4,
.content li,
.pullout,
.moduleContainer h2,
.smallLabel {
    font-family: 'Roboto', serif;
}
.fontTertiary,
h1,
h2.sectionName {
    font-family: 'Alfa Slab One', sans-serif;
}

/* SOCIAL */

.socialMedia a {
    margin: 0 1px;
    width: 30px;
    height: 30px;
    background: #000;
}
.socialMedia a svg {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
}
.socialMedia a svg g {
    fill: #FFFE00 !important;
}
.socialMedia a:hover {
    background: #598089 !important;
}
.socialMedia a:hover svg g {
    fill: #FFF !important;
}


/* BACKGROUNDS */

#siteBackground {
    background: none;
}

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #185661;
}
.backgroundDark {
    background: #141414;
}
.backgroundDark a:hover {
    color: #FFF;
}
.backgroundPriority {
    background: #FE7C57;
}


/* BORDERS */

hr {
    border: none;
    border-top: 1px solid #999;
}
.borderDashed {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/assets/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
    background-size: 6px;
}


/* COLORS (In order of most to least commonly used) */


.blue {
    background: #185661;
}
.blueText {
    color: #185661;
}
.lightBlue {
    background: #5B919F;
}
.lightBlueText {
    color: #5B919F;
}
.peach {
    background: #FF9B65;
}
.peachText {
    color: #FF9B65;
}
.periwinkle {
    background: #6259FC;
}
.periwinkleText {
    color: #6259FC;
}
.yellow {
    background: #FFF600;
}
.yellowText {
    color: #FFF600;
}

/* LOADER */
@keyframes pulse {
    50% {
        background: rgb(0,0,0);
    }
}
.loader,
.loader:before,
.loader:after {
    background: rgba(0,0,0, 0.2);
}


/* SITE STRUCTURE */

.shellVerticalPadding {
    padding-top: 70px;
    padding-bottom: 70px;
}
.siteMaxWidth {
    max-width: 1550px;
}
.siteSidePadding {
    padding-right: 8%;
    padding-left: 8%;
}


/* FIXED IMAGES FOR HEADER AND FOOTER */


.headerImageContainer {
    transition: all .15s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    /* Needs to match .hasHeaderImage #header at all responsive sizes */
    height: 350px;
    background: #444;
}
body.preview .headerImageContainer {
    top: 56px;
}
.headerImageContainer.offScreen {
    opacity: 0;
}
.headerImageFixed {
    opacity: 1;
    background-color: #2a5058;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#darkenHeaderImage {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /* layer above #headerImageBackground and above #footerImage */
    z-index: 3;
    height: 380px;
    opacity: .33;
    background: linear-gradient(rgba(88,112,109,1), rgba(32,69,88,0));
    background: -webkit-linear-gradient(rgba(88,112,109,1), rgba(32,69,88,0));
}
.footerImageFixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 950px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media (max-width: 1050px) {
    .headerImageContainer {
        /* Needs to match #header height at all repsonsive sizes */
        height: 280px;
    }
}
@media (max-width: 959px) {
    .footerImageFixed {
        display: none;
    }
}
@media (max-width: 768px) {
    .headerImageContainer {
        /* Needs to match .hasHeaderImage #header height at all repsonsive sizes */
        height: 200px;
    }
}



/* HEADER */

#header {
    position: relative;
    z-index: 5;
    padding: 30px 0 24px;
    background: #2a5058;
}
.hasHeaderImage #header {
    height: 350px;
    background: none;
}
.siteLogo {
    margin-left: 40px;
    max-width: 256px;
}
.siteLogo a {
    display: inline-block;
}
#navHeader {
    padding: 0 10px;
    background: #1E1E1E;
}
#navHeader ul li {
    padding: 0;
}
.navMainLink a {
    transition: all .2s ease-out;
    display: block;
    padding: 8px 10px 5px;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .01em;
    font-weight: bold;
}
.navMainLink a:hover {
    color: #91C5D2;
}
.navMainLink a .animatedBorder {
    transition: all .2s ease-out;
    -webki-ttransition: all .2s ease-out;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    height: 3px;
    opacity: 0;
    background: #91C5D2;
}
.navMainLink a:hover .animatedBorder {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    opacity: 1;
    background: #FFF;
}
@media (max-width: 1050px)  {
    .hasHeaderImage #header {
        height: 280px;
    }
}
@media (max-width:959px) {
    .siteLogo {
        margin-top: 6px;
        max-width: 200px;
    }
}
@media (max-width: 768px) {
    .hasHeaderImage #header {
        height: 200px;
    }
}


/* RETRACTING HEADER */

#headerRetracting {
    padding: 18px 0 2px 0;
    background: rgba(255,255,255,.9);
}
#headerRetracting .siteLogo {
    max-width: 210px;
}
#headerRetracting #navHeader {
    top: 16px;
    right: 40px;
}
@media (max-width:959px) {
    #headerRetracting {
        padding: 14px 0 0 0;
    }
    #headerRetracting .siteLogo {
        max-width: 170px;
    }
}


/* MAIN */

#shellContentBackground {
    position: relative;
    z-index: 10;
    background: #FFF;
}

/* SHELL SIDEBAR */

@media (min-width: 1000px) {
    #shellSidebar {
        padding-right: 20%;
    }
}
#shellSidebar .sidebarBorder {
    border-top: 3px solid #292929;
}
h2.sectionName {
    margin: 8px 0 0;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
    color: #111;
    border-bottom: 7px solid #111;
}

/* Temporary classes - remove when links are dynamic */
#siteNavigationSidebar ul {
    padding: 20px 0;
}
/* End temporary classes */


.siteNavLink[data-level="2"] {
    padding: 2px 0;
}
.siteNavLink a.navLevel2 {
    transition: all .1s ease-out;
    display: table;
    padding: 2px 0;
    font-size: 18px;
    font-weight: 700;
    color: #111;
    line-height: 1.4;
}
.siteNavLink a.navLevel2:hover {
    color: #5B919F;
}
.siteNavLink a.navLevel2.active {
    color: #5B919F;
}
.siteNavLink a.navLevel2.active:hover {
    color: #5B919F;
}
#sidebarSocial {
    margin-top: 25px;
}
#sidebarPromoArea a {
    display: block;
    margin-top: 24px;
}
#sidebarPromoArea a .imageContainer {
    transition: all .2s ease-out;
}
#sidebarPromoArea a:hover .imageContainer {
    opacity: .9;
}
@media (max-width:959px) {
    #sidebarToggleContainer .sidebarToggle {
        top: 40px;
        right: 40px;
        left: inherit;
        padding: 6px;
        background: #222;
    }
    #sidebarToggleContainer .sidebarToggle:hover {
        background: #5B919F;
    }
    #sidebarToggleContainer.siteSidePadding  {
        padding: 0;
    }
    #sidebarToggleContainer.offScreen.scrollUp .sidebarToggle {
        top: 16px;
    }
    .mobileDrawer.mobileBackgroundDark {
        background: #111;
    }
    #siteNavigationSidebar ul {
        padding: 10px 0;
    }
    .siteNavLink[data-level="1"] {
        padding: 20px 0 0;
    }
    .siteNavLink a.navLevel1 {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: .01em;
        color: #555;
    }
    .siteNavLink a.navLevel1:hover {
        color: #69A5B5;
    }
    .siteNavLink[data-level="2"] {
        padding: 4px 0;
    }
    .mobileDrawer.mobileBackgroundDark .siteNavLink a.navLevel2 {
        color: #CCC;
        font-size: 14px;
    }
    .mobileDrawer.mobileBackgroundDark .siteNavLink a.navLevel2:hover {
        color: #69A5B5;
    }
    #sidebarJoin a {
        color: #F6FF00;
    }
    #sidebarJoin a:hover {
        color: #FFF;
    }
    .sidebarContact {
        margin: 30px 0 0;
        padding-top: 30px;
        color: #666;
    }
    .sidebarContact a {
        font-size: 13px;
        font-weight: bold;
    }
    .sidebarContact a:hover {
        color: #FFF;
    }
    #sidebarPromoArea a {
        margin-top: 0;
        margin-bottom: 16px;
    }
}



/* SHELL BODY */

#shellContent.shellVerticalPadding {
    padding-top: 90px;
    padding-bottom: 110px;
}
.mainColumnGutter {
    padding-left: 10%;
}
h1.pageTitle {
    margin: 0 0 50px;
    padding-bottom: 14px;
    line-height: .8;
    border-bottom: 7px solid #111;
}
@media (max-width: 959px) {
    .mainColumnGutter {
        padding-left: 0;
    }
}
@media (max-width:840px) {
    h1#pageTitle {
        margin-bottom: 30px;
    }
}


/* ANGULAR FORMS */
form .sending {
    opacity: .5
}

md-input-container.md-default-theme .md-input,
md-input-container .md-input {
    border-color: #333;
}
/* Prompt text */
md-input-container .md-placeholder,
md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    font-size: 16px;
    color: #333;
}
/* Prompt text turns blue on click */
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon
md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: #185661;
}
/* Input bottom border changes to blue on click */
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: #185661;
}


md-input-container.md-input-invalid .required {
    color: rgb(221,44,0);
}
md-input-container.md-input-has-placeholder label.noFloat,
md-input-container.md-input-has-placeholder md-select-label.noFloat {
    transform: scale(1);
    font-weight: bold;
    white-space: initial !important;
}


.whiteframePadding {
    padding: 34px 6%;
    margin-bottom: 26px;
}

.joinForm .listInline li {
    margin: 0 8px;
    vertical-align: top;
}
/* Make input containers wider */
.joinForm md-input-container {
    width: 260px;
}
/* Position circular progress bar in the middle of form */
.joinForm md-progress-circular {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}
/* Make progress bar blue */
md-progress-circular path {
    stroke: #185661;
}
/* Fade in progress bar when form starts sending */
.joinForm .sending md-progress-circular {
    animation: itemsFadeIn .2s ease-out forwards;
    opacity: 1;
}

/* Fade form out when sending */
.joinForm .sending .listUnstyled {
    transition: all .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}
/* Keep form faded on success */
.joinForm .sending .listUnstyled,
.joinForm .success .listUnstyled {
    transform: scale(.5);
    opacity: 0;
}
/* Success message */
.joinForm form .message {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #7932AC;
}
@media (max-width:959px) {
    .joinForm .listUnstyled li {
        display: block;
    }
    .joinForm .btn {
        display: table;
        margin: 20px auto 0 auto;
    }
}


#homeJoinForm {
    margin: 0 auto;
    max-width: 290px;
    text-align: left;
}
#homeJoin md-input-container .md-placeholder,
#homeJoin md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    bottom: 83%;
    padding-left: 10px;
    font-size: 19px;
    color: #FFF;
}

#homeJoin md-input-container {
    display: block;
    margin: 10px 0;
}
#homeJoin md-input-container.md-default-theme .md-input,
#homeJoin md-input-container .md-input {
    padding: 8px 8px;
    height: 55px;
    line-height: 55px;
    font-size: 19px;
    border: 3px solid #FFF;
}

/* Move prompt text high enough to make room for bigger input text */
#homeJoin md-input-container.md-input-focused label:not(.md-no-float),
#homeJoin md-input-container.md-input-has-placeholder label:not(.md-no-float),
#homeJoin md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(-2px,-4px,0) scale(.6);
}
#homeJoin .btn {
    padding: 20px;
    display: block;
    width: 100%;
}




/* FOOTER  SITE MAP*/


#siteMapBackground {
    position: relative;
    z-index: 10;
    background: rgba(51,51,51,.8);
}
#siteMapNew {
    margin: 0 -3%;
    padding: 80px 0;
    text-align: center;
}
.siteMapColumn {
    padding: 0 8%;
}
#siteMapNew li {
    vertical-align: top;
}
#siteMapNew .siteMapHeader {
    margin: 0 0 18px 0;
    padding-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#siteMapNew .siteMapColumn ul {
    padding: 0 5%;
}
#siteMapNew .siteMapColumn a {
    display: inline-block;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 11px;
}
.dark #siteMapNew .siteMapHeader {
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.dark #siteMapNew .siteMapColumn a {
    color: #CDCDCD;
    font-size: 11px;
}
/* Must come after .dark .siteMapColumn a */
.dark #siteMapNew .siteMapHeader a {
    padding: 0;
    color: #6BA2AE;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}
.dark #siteMapNew .siteMapColumn a:hover {
    color: #FFF;
}
#siteMapNew #btnJoin {
    display: block;
    margin: 4px auto;
    max-width: 136px;
}



/* FOOTER */


#footerBackground {
    position: relative;
    z-index: 10;
    background: #111;
}
#footer {
    padding-top: 60px;
    padding-bottom: 70px;
    color: #6D6D6D;
    text-transform: none;
}
#footer a:hover {
    color: #FFF;
}
#footerLogo img {
    margin: 0 0 30px;
    opacity: .4;
    width: 40px;
}
#footerContact {
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: normal;
}
#footerCredit {
    margin: 30px auto;
    max-width: 600px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #777;
    line-height: 2.4;
}
#footerCredit a {
    color: #777;
}
#footerCredit a:hover {
    color: #FFF;
}
#footerPlatform a {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #777;
}
#footerPlatform a:hover {
    color: #FFF;
}


/* CUSTOM ARTICLE STYLING */

.pullout.pulloutYellow {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
    line-height: 1.2;
    background: #FFFE00;
}
@media (min-width:959px) {
    .pullout.pulloutYellow {
        float: left;
        margin: 0 8% 30px 0;
        max-width: 35%;
    }
    .noSidebarManual .pullout.pulloutYellow {
        margin: 0 5% 30px 0;
        max-width: 25%;
    }
}

/* FAQ */

#faqPage h4 {
    margin-bottom: 30px;
    font-size: 13px;
    letter-spacing: .07em;
}
#faqMain {
    margin-right: 12%;
}
#faqMain h2 {
    margin: 0 0 50px;
    padding: 4px 10px;
    font-size: 26px;
    color: #FFF;
    background: #6259FC;
}

/* Creating the special caps */
.faqQuestion,
.faqAnswer {
    position: relative;
    padding-left: 70px;
}
.faqQuestion::before,
.faqAnswer::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Q.";
    font-size: 40px;
    font-family: 'Alfa Slab One';
    color: #6259FC;
    line-height: 1;
}
.faqAnswer::before {
    content: "A.";
    color: #383838;
}

/* General styling */
.faqQuestion {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.2;
    color: #2A5058;
}


/* Quick Links */
#faqQuickLinks {
    padding: 20px 8%;
    background: #F6F6F6;
}
#faqQuickLinks h3 {
    margin: 0 0 22px;
    font-size: 15px;
    color: #6259FC;
    line-height: 1.1;
}
#faqQuickLinks a {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
}